---
---

@import "beautifuljekyll";

/* 여러 줄 코드블록 (```로 만든 거) */
div.highlight,
pre.highlight,
pre {
  background-color: #f5f5f5;  // 연한 회색
  color: #222;                // 글자색(너무 옅으면 살짝 진하게)
  border-radius: 6px;         // 모서리 둥글게 (옵션)
  padding: 10px 12px;         // 안쪽 여백
}

/* 인라인 코드 (`이렇게`) */
p code,
li code {
  background-color: #f0f0f0;
  padding: 2px 4px;
  border-radius: 3px;
}
